@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&family=Montserrat:wght@500;600;700&display=swap');

// COLOR:
$primary: #68349B;
$primary-v1: rgba($primary, 0.84);
$primary-v2: rgba($primary, 0.62);

$background: #1E1E28;
$background-v1: lighten($background, 8%);
$background-v2: lighten($background, 16%);

$white: #FFFFFF;
$white-v1: rgba($white, 0.72);
$white-v2: rgba($white, 0.58);

// FONTS

$font-family: "Fira Mono", monospace;
$font-size: 1rem;
$font-weight: 400;

$h-font-family: "Montserrat", sans-serif;
$h-font-weight: 600;
$h1-font-size: 4rem;
$h2-font-size: 3rem;

$h1-font-size-mobile: 3rem;
$h2-font-size-mobile: 2rem;
